@model Auction.Web.ViewModels.PostDetailsViewModel

@{
    ViewBag.Title = "PostDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime dateTime=DateTime.Now;
}
   

@if (Model != null && Model.Product != null)
{
   

    <!-- Page title -->
  
        <div class="container" style="background: white;margin-top: 10px; padding: 10px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                        <h4>
                            <i class="fas fa-home mr-1"></i><a href="@Url.Action("Index", "Home")">Home ></a>
                            <a href="@Url.Action("Index", "Shop")">All Product ></a>
                            <a href="@Url.Action("Index","Shop",new { categoryID=Model.Product.Category.Id})">@Model.Product.Category.Name ></a>
                            <a> @Model.Product.Name </a>
                        </h4>
                    </div><!-- /.page-title-heading -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->


    <section class="flat-row main-shop shop-detail" >
        <div class="container" style="background: white; margin-top: -45px">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        @Model.Product.Name
                    </h2>
                    <h6> For auction by <span class="text-primary">@Model.Product.User.FirstName @Model.Product.User.LastName</span> , @Model.Product.User.Thana.Name, @Model.Product.User.Thana.District.Name, @Model.Product.User.Address</h6>
                </div>
                <div class="col-md-6">
                    <div class="wrap-flexslider">
                        <div class="inner">
                            <div class="flexslider style-1 has-relative">
                               
                                <ul class="slides mt-3">
                                    <li data-thumb="@Model.Product.ImageUrl1">
                                        <img src="@Model.Product.ImageUrl1" alt="Image">
                                        <div class="flat-icon style-1">
                                            <a href="@Model.Product.ImageUrl1" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                        </div>
                                    </li>
                                    <li data-thumb="@Model.Product.ImageUrl2">
                                        <img src="@Model.Product.ImageUrl2" alt="Image">
                                        <div class="flat-icon style-1">
                                            <a href="@Model.Product.ImageUrl2" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                        </div>
                                    </li>
                                    <li data-thumb="@Model.Product.ImageUrl3">
                                        <img src="@Model.Product.ImageUrl3" alt="Image">
                                        <div class="flat-icon style-1">
                                            <a href="@Model.Product.ImageUrl3" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                        </div>
                                    </li>
                                    <li data-thumb="@Model.Product.ImageUrl4">
                                        <img src="@Model.Product.ImageUrl4" alt="Image">
                                        <div class="flat-icon style-1">
                                            <a href="@Model.Product.ImageUrl4" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="content-inner mt-2 mb-5">
                        <div class="flat-tabs style-1 has-border">
                            <div class="inner">
                                <ul @*class="menu-tab"*@>
                                    <li><h3>Description</h3></li>
                                    
                                </ul>
                                <div class="content-tab">
                                    <div class="content-inner">

                                        <div class="inner max-width-83 padding-top-33">
                                            <p>
                                                @Model.Product.Description
                                            </p>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>

                        @*<h2>Description</h2>
        <div class="inner max-width-83 padding-top-33">
            <p class="text-justify">
                @Model.Product.Description
            </p>
        </div>*@
                    </div>
                </div><!-- /.col-md-6 -->

                <div class="col-md-6">
                    <hr/>
                    @if (Model.Product.EndDateTime<dateTime)
                    {
                        <div class="col-md-12">
                            <h2 class="text-danger ml-4">[Auction Ended]</h2>
                        </div>
                                   
                    }
                    <div class="product-detail">
                        <div class="inner">
                            <div class="content-detail">
                                <table>
                                    <tr>
                                        <th><b>Start Price:</b> BDT @Model.Product.BasePrice</th>
                                    </tr>
                                   
                                    <tr>
                                        @{
                                            if (Model.Product.CurrentBidPrice == 0)
                                            {
                                                <th>
                                                    <b>Current Bid Price:</b> [No Bid Yet]
                                                </th>
                                            }
                                            else
                                            {
                                                <th>
                                                    <b>Current Bid Price:</b> BDT @Model.Product.CurrentBidPrice
                                                </th>
                                            }
                                        }

                                    </tr>
                                    <tr>
                                        <th><b>End Date:</b> @Model.Product.EndDateTime.ToString("dddd, d MMMM, yyyy")</th>
                                    </tr>
                                    <tr>
                                        <th><b>End Time:</b> @Model.Product.EndDateTime.ToString("hh:mm tt")</th>
                                    </tr>
                                    <tr>
                                        <th><b>Category:</b>@Model.Product.Category.Name</th>
                                    </tr>

                                </table>

                                @{
                                    if (Model.Product.EndDateTime<dateTime)
                                    {
                                        <div class="product-quantity">
                                            <div class="">
                                                <input type="text" id="BidPrice" name="BidPrice" placeholder="Enter bid price" disabled />
                                            </div>

                                            <div class="add-to-cart">
                                                <input type="hidden" id="ProductId" name="ProductId" value="@Model.Product.Id" />
                                                <a class="bidNowBtn btn disabled" href="#">Place My Bid</a>

                                            </div>
                                            

                                        </div>
                                    }
                                    else if (Model.User != null)
                                    {
                                        if (Model.OwnAd)
                                        {
                                            <input type="hidden" id="ownAd" value="@Model.OwnAd"/>
                                            <div class="product-quantity">
                                                <div class="">
                                                    <input type="text" id="BidPrice" name="BidPrice" placeholder="Enter bid price" disabled />
                                                </div>

                                                <div class="add-to-cart">
                                                    <input type="hidden" id="ProductId" name="ProductId" value="@Model.Product.Id" />
                                                    <a class="bidNowBtn btn disabled" href="#">Place My Bid</a>

                                                </div>
                                                <div>
                                                    <p class="text-danger"><strong>This ad is posted by you.You can not biding on this ad.</strong></p>
                                                </div>

                                            </div>
                                        }
                                        else
                                        {
                                            <!-- for validation -->
                                            <input type="hidden" id="UserCredit" value="@Model.User.Credit" />
                                            <input type="hidden" id="AdBasePrice" value="@Model.Product.BasePrice" />
                                            <input type="hidden" id="ExistenceBidder" value="@Model.ExistenceBidder" />
                                            <input type="hidden" id="currentBidPrice" value="@Model.Product.CurrentBidPrice" />

                                            <div class="product-quantity">
                                                <div class="">
                                                    <input type="text" id="BidPrice" name="BidPrice" placeholder="Enter bid price" />
                                                </div>

                                                <div class="add-to-cart">
                                                    <input type="hidden" id="ProductId" name="ProductId" value="@Model.Product.Id" />
                                                    <a class="bidNowBtn" href="#">Place My Bid</a>
                                                </div>
                                                <div>
                                                    <p class="text-danger" id="errorMessage"></p>
                                                </div>
                                            </div>
                                        }


                                    }
                                    else
                                    {
                                        <div class="product-quantity">
                                            <div class="">
                                                <input type="text" id="BidPrice" name="BidPrice" placeholder="Enter bid price" disabled />
                                            </div>

                                            <div class="add-to-cart">
                                                <input type="hidden" id="ProductId" name="ProductId" value="@Model.Product.Id" />
                                                <a class="bidNowBtn btn disabled" href="#">Place My Bid</a>

                                            </div>
                                            <div>
                                                <p class="text-danger"><strong>You are not logged in.Please, Login first to do bidding</strong></p>
                                            </div>

                                        </div>

                                    }
                                }

                                <hr/>
                                <h2>Bidding History:</h2>
                                @if (Model.Bidders.Count != 0)
                                {
                                    
                                   
                                    <table class="table table-striped mt-2">
                                        <thead class="thead-dark" style="background: gray; color: white">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Date Time</th>
                                                <th scope="col">Bidder</th>
                                                <th scope="col">Bid Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var i = 0;
                                                foreach (var bidder in Model.Bidders)
                                                {
                                                    i++;

                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@bidder.DateTime.ToString("dd-MM-yyyy hh:mm tt")</td>
                                                        
                                                        @if (@Model.User != null)
                                                        {
                                                            if (bidder.UserId==Model.User.Id)
                                                            {
                                                                <td><strong>@bidder.User.FirstName (You)</strong></td>
                                                            }
                                                            else
                                                            {
                                                                <td>@bidder.User.FirstName</td>
                                                            }
                                                        }
                                                        
                                                        else
                                                        {
                                                            <td>@bidder.User.FirstName</td>
                                                        }
                                                       
                                                        <td>@bidder.BidPrice</td>
                                                    </tr>
                                                }

                                            }

                                        </tbody>
                                    </table>
                                                }
                                else
                                {
                                    <h3 class="text-danger">[No Bid Yet]</h3>
                                }


                            </div>
                        </div>
                    </div><!-- /.product-detail -->
                </div>

            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-row -->

    

    <section class="flat-row shop-related">
        <div class="container" style="background: white; margin-top: -65px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section margin-bottom-55">
                        <h2 class="title">Related Ads</h2>
                    </div>

                    @{Html.RenderAction("Products", "Widget", new { isLatestProducts = false, categoryID = Model.Product.Category.Id });}

                </div>
            </div><!-- /.row -->
        </div>
    </section>
}


<script>
    $(document).ready(function () {

        //bid price only digit
        $('input[name="BidPrice"]').keyup(function(e) {
            //input field accept numeric value
            if (/\D/g.test(this.value)) {
                // Filter non-digits from input value.
                this.value = this.value.replace(/\D/g, '');
            }
        });

        var userCredit = $("#UserCredit").val();
        var adBasePrice = $("#AdBasePrice").val();

        var existenceBidder = $("#ExistenceBidder").val();
        var  ownAd = $("#ownAd").val();

        var depositAmount = parseInt(adBasePrice) * 25 / 100;
        //alert(ownAd);
        if (!ownAd) {
            if (!existenceBidder) {

                if (parseInt(userCredit) < parseInt(depositAmount)) {
                    //$("#errorMessage").val("No sufficient balance");
                    // document.getElementById("errorMessage").innerHTML = "<br/>You don't have sufficient balance!";
                    document.getElementById("errorMessage").innerHTML = 'Your current balance is BDT ' +
                        userCredit +
                        '<br/>You needs 25% (BDT ' +
                        depositAmount +
                        ') of this ad base price for bidding. <br/>Please, add credit to your account !';
                }
            } else {
                document.getElementById("errorMessage").innerHTML = "<br/>You are a bidder of this ad ";
            }
        }
       
        
      


        $(".bidNowBtn").click(function () {


            //check for empty bid price field
            var bidingPrice = $("#BidPrice").val();
            if (bidingPrice.length === 0) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Please, Enter biding amount !',
                    text: "Bid amount field can't be empty!",
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ok'
                });
                return;
            }


            //check for entered bid price must be greater than current bid price
            var currentBidPrice = $("#currentBidPrice").val();

            //for first bid price
            if (currentBidPrice==0) {
                currentBidPrice = adBasePrice;
                if (parseInt(bidingPrice)<parseInt(currentBidPrice)) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Bidding price must be higher than start bid amount !',
                        text: "Start bid amount is: BDT "+currentBidPrice+" ",
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Ok'
                    });

                    $("#BidPrice").val("");
                    return;
                }
            } else {
                if (parseInt(bidingPrice) < parseInt(currentBidPrice)+1) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Bidding price must be higher than current bid amount !',
                        text: "Current bid amount is: BDT "+currentBidPrice+" ",
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Ok'
                    });

                    $("#BidPrice").val("");
                    return;
                }
            }
          

           
           
            if (!existenceBidder) {
                if (parseInt(userCredit) >= parseInt(depositAmount)) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Are you sure?',
                        //text: "You won't be able to revert this!",
                        html: 'Your current balance is BDT ' +
                            userCredit +
                            '<br/> 25% (BDT ' +
                            depositAmount +
                            ') of this ad base price will be debited from your account <br/>You wont be able to revert this!',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, place my bid!'
                    }).then((result) => {
                        if (result.value) {
                            $.ajax({
                                    type: "POST",
                                    url: "/Shop/BidNow",
                                    data: {
                                        ProductId: $("#ProductId").val(),
                                        bidPrice: $("#BidPrice").val(),
                                        depositAmount:depositAmount
                                    }

                            })
                            .done(function(response) {
                                Swal.fire({
                                    title: 'Successful',
                                    text: "Your bid has been placed",
                                    icon: 'success',
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'OK'
                                }).then((result) => {
                                    if (result.value) {
                                        window.location.reload();
                                    }
                                });
                            })
                            .fail(function(xmlHttpRequest, textStatus, errorThrown) {
                                alert("Fail");
                            });

                        }
                    });
                } else {
                    Swal.fire({
                        icon: 'warning',
                        title: 'No sufficient balance !',
                        //text: "You won't be able to revert this!",
                        html: 'Your current balance is BDT ' +
                            userCredit +
                            '<br/>You needs 25% (BDT ' +
                            depositAmount +
                            ') of this ad base price for bidding<br/>Please, add credit to your account!',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Ok'
                    });
                }
            } else {
                 Swal.fire({
                        icon: 'warning',
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, place my bid!'
                    }).then((result) => {
                        if (result.value) {
                            $.ajax({
                                    type: "POST",
                                    url: "/Shop/BidNow",
                                    data: {
                                        ProductId: $("#ProductId").val(),
                                        bidPrice: $("#BidPrice").val(),
                                        depositAmount:depositAmount
                                    }

                            })
                            .done(function(response) {
                                Swal.fire({
                                    title: 'Successful',
                                    text: "Your bid has been placed",
                                    icon: 'success',
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'OK'
                                }).then((result) => {
                                    if (result.value) {
                                        window.location.reload();
                                    }
                                });
                            })
                            .fail(function(xmlHttpRequest, textStatus, errorThrown) {
                                alert("Fail");
                            });

                        }
                    });
            }

           



        });
    });
</script>
