@model Auction.Web.ViewModels.FilterProductsViewModel

@{
    DateTime dateTime = DateTime.Now;
    var i = 0;
}

<script src="~/Contents/javascript/jquery.countdown.js"></script>

<div class="product-content product-threecolumn product-slidebar clearfix">
    <div class="row">
        @if (Model.Products.Count != 0)
        {
            <div class="col-md-5">
                <div class="filter-shop clearfix">
                    <p class="showing-product float-left">
                        Showing [@(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + 1) – @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + (Model.Products.Count < Model.Pager.PageSize ? Model.Products.Count : Model.Pager.PageSize))] of [@Model.Pager.TotalItems] ads
                    </p>
                </div>
            </div>

            <ul class="product style2 sd1">

                @foreach (var product in Model.Products)
                {
                    <li>
                        <div class="product-item col-md-11 ml-3 p-3" style="border-bottom: 1px solid black;  margin-top: -30px;">
                            @*<hr />*@
                            <div class="row">

                                <div class="col-md-3">
                                    <a href="@Url.Action("ProductDetails", "Product", new {postId = product.Id})">
                                        <img src="@product.ImageUrl1" alt="image">
                                    </a>
                                </div>

                                <div class="col-md-6">
                                    <table>
                                        <tr>
                                            <th>
                                                @if (product.EndDateTime < dateTime)
                                                {
                                                    <h2 class="text-danger">[Auction Ended]</h2>

                                                }
                                                @*else
                                                {
                                                    i++;
                                                    <h2 class="text-danger hh-@i" id="hh"></h2>
                                                    <input type="hidden" class="endDateTime-@i" value="@product.EndDateTime" />
                                                    <script>

                                                        var tt='@product.EndDateTime';

                                                        $(".hh-@i").countdown(tt, function (event) {
                                                            $(this).text(
                                                                event.strftime('[%D:%H:%M:%S]')
                                                            );
                                                        });

                                                    </script>
                                                }*@
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <h2>@product.Name</h2>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="fas fa-map-marker-alt"></i> @product.User.Thana.Name, @product.User.Thana.District.Name, @product.User.Address
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <b>End Date:</b> @product.EndDateTime.ToString("D")
                                            </th>
                                        </tr>
                                        <tr>
                                            <th><b>Start Price:</b> BDT @product.BasePrice</th>
                                        </tr>
                                        <tr>
                                            @{
                                                if (product.CurrentBidPrice == 0)
                                                {
                                                    <th>
                                                        <b>Highest Bid Amount:</b> No Bid
                                                    </th>
                                                }
                                                else
                                                {
                                                    <th>
                                                        <b>Highest Bid Amount:</b> BDT @product.CurrentBidPrice
                                                    </th>
                                                }
                                            }

                                        </tr>
                                        <tr>
                                            @{
                                                if (product.CurrentBidPrice == 0)
                                                {
                                                    <th>
                                                        <b>Winner:</b> No Bidder
                                                    </th>
                                                }
                                                else
                                                {
                                                    var winner = Model.Bidders[i].FirstName;
                                                    <th>
                                                        <b>Winner:</b> @Model.Bidders[i].FirstName @Model.Bidders[i].LastName;
                                                    </th>
                                                }

                                                i++;
                                            }
                                        </tr>


                                    </table>

                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-danger text-center mt-5" href="@Url.Action("ProductDetails", "Product", new {postId = product.Id})">See Details ></a>
                                </div>

                            </div>


                        </div>

                    </li>

                }

            </ul><!-- /.product -->
        }
        else
        {
            <div class="col-md-12 text-center">
                <div class="alert alert-warning p-5" role="alert">
                    <h2>We did not find any result</h2>
                    <a href="@Url.Action("Index", "Shop")" class="btn btn-primary text-white text-capitalize mt-4">Browse all ads</a>
                </div>
            </div>
        }

    </div>

</div><!-- /.product-content -->

@if (Model.Pager != null@*&& Model.Pager.TotalPages > 1*@)
{
<div class="product-pagination text-center clearfix">
    <ul class="flat-pagination">
        @if (Model.Pager.CurrentPage > 1)
        {
            <li class="prev">
                <a href="@Url.Action("Index", "Shop", new { pageNo = Model.Pager.CurrentPage - 1, sortBy = Model.SortBy, categoryID = Model.CategoryID})" class="pageDataLink"><i class="fa fa-angle-left"></i></a>
            </li>

        }

        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
        {
            string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

            <li class="@activeClass"><a href="@Url.Action("Index", "Shop", new { pageNo = page, sortBy = Model.SortBy, categoryID = Model.CategoryID })" title="" class="pageDataLink">@page</a></li>
        }

        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
        {


            <li><a href="@Url.Action("Index", "Shop", new { pageNo = Model.Pager.CurrentPage+1,sortBy = Model.SortBy, categoryID = Model.CategoryID})"><i class="fa fa-angle-right"></i></a></li>

        }
    </ul><!-- /.flat-pagination -->
</div>
}

