@using Auction.Web.Code

@model Auction.Web.ViewModels.ShopViewModel
@{
    ViewBag.Title = "Index";

}

<!-- Page title -->

@*<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">

                    <h3>
                        <a href="@Url.Action("Index", "Home")">Home ></a> 
                        <a href="@Url.Action("Index", "Shop")">All Categories </a> 

                        @foreach (var category in Model.FeaturedCategories)
                        {
                            if (category.Id == Model.CategoryID) { 
                                 <a href="@Url.Action("Index","Shop",new { categoryID=category.Id,sortBy=Model.SortBy})" class="@(Model.CategoryID.HasValue && Model.CategoryID.Value==category.Id?"active" : string.Empty)". >@category.Name</a>
                            }

                        }

                    </h3>
                   
                </div>
            </div>
        </div>
    </div>
</div>*@

@*<h3 class="container">
    <a href="@Url.Action("Index", "Home")">Home ></a> 
    <a href="@Url.Action("Index", "Shop")">All Categories </a> 

    @foreach (var category in Model.FeaturedCategories)
    {
        if (category.Id == Model.CategoryID) { 
            <a href="@Url.Action("Index","Shop",new { categoryID=category.Id,sortBy=Model.SortBy})" class="@(Model.CategoryID.HasValue && Model.CategoryID.Value==category.Id?"active" : string.Empty)" >@category.Name</a>
        }

    }

</h3>*@

<style>
    .vl {
        border-left: 2px solid gray;
        margin-top: -40px;
        height: 500px;
        position: absolute;
        left: 100%;
        top: 0;
    }
</style>
<section class="flat-row main-shop shop-slidebar">
    <div class="container pb-3" style="background: white; margin-top: -80px;padding-top:20px">
        <div class="row">
            <div class="col-md-12 mb-3">
                @*<i class="fas fa-map-marker-alt mr-2"></i>*@
                <div class="row">
                    <div class="col-md-3">
                        <select id="" name="" class="form-control form-control-sm" size="1">
                            <option value="" > Select Location</option>

                        </select>
                    </div>
                    <div class="col-md-3">
                        <select id="" name="" class="form-control form-control-sm" size="1">
                            <option value="">Select Category</option>

                        </select>
                    </div>
                    <div class="col-md-5">
                        <form role="search" method="get" class="search-form" action="@Url.Action("Index", "Shop")">
                            <label>
                                <input type="search" @*class="header-search-field"*@ placeholder="Search …" value="@Model.SearchText" name="searchTxt">
                            </label>
                             <input type="submit" class="text-white text-capitalize" value="Search">


                            @*<div class="input-group">
                                <input type="text" class="form-control" placeholder="What are you looking for?" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-lg btn-primary" type="button">Search</button>
                                </div>
                            </div>*@
                        </form>

                    </div>

                </div>

            </div>
            <hr/>
            <div class="col-md-3">
                <div style="width: 100%; height: 50px; background-color: #F63440; text-align: center">
                    <h2 style="color: white; padding-top: 10px;">Filters</h2></div>
            </div>
            <div class="col-md-6">

                <div class="filter-shop clearfix">
                    <p class="showing-product float-left">
                        Showing @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + 1) – @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + (Model.Products.Count < Model.Pager.PageSize ? Model.Products.Count : Model.Pager.PageSize)) of @Model.Pager.TotalItems ads
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget widget-sort-by">
                    <div class="row">
                        <div class="col-md-4"> <label>Sort By :</label></div>
                        <div class="col-md-8">
                            <select onchange="location = this.value;" style="height: 30px">
                                <option value="@Url.Action("Index", "Shop", new {sortBy = (int) SortByEnums.Default, categoryID = Model.CategoryID})" @(Model.SortBy.HasValue ? Model.SortBy.Value == (int) SortByEnums.Default ? "selected" : string.Empty : string.Empty)>Default - Newest</option>
                                <option value="@Url.Action("Index", "Shop", new {sortBy = (int) SortByEnums.PriceLowToHigh, categoryID = Model.CategoryID})" @(Model.SortBy.HasValue ? Model.SortBy.Value == (int) SortByEnums.PriceLowToHigh ? "selected" : string.Empty : string.Empty)>Price (Low > High)</option>
                                <option value="@Url.Action("Index", "Shop", new {sortBy = (int) SortByEnums.PriceHighToLow, categoryID = Model.CategoryID})" @(Model.SortBy.HasValue ? Model.SortBy.Value == (int) SortByEnums.PriceHighToLow ? "selected" : string.Empty : string.Empty)>Price (High > Low)</option>
                                <option value="@Url.Action("Index", "Shop", new {sortBy = (int) SortByEnums.DateNewToOld, categoryID = Model.CategoryID})" @(Model.SortBy.HasValue ? Model.SortBy.Value == (int) SortByEnums.DateNewToOld ? "selected" : string.Empty : string.Empty)>Date (New > Old)</option>
                                <option value="@Url.Action("Index", "Shop", new {sortBy = (int) SortByEnums.DateOldToNew, categoryID = Model.CategoryID})" @(Model.SortBy.HasValue ? Model.SortBy.Value == (int) SortByEnums.DateOldToNew ? "selected" : string.Empty : string.Empty)>Date (Old > New)</option>
                            </select>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3 ">
                <div class="sidebar slidebar-shop">
                    @*<div class="widget widget-search">
                        <form role="search" method="get" class="search-form" action="@Url.Action("Index", "Shop")">
                            <label>
                                <input type="search" class="header-search-field" placeholder="Search …" value="" name="searchTxt">
                            </label>
                            <input type="submit" class="search-submit " value="Search">
                        </form>
                    </div>*@
                    <div class="widget widget_tag">
                        <h5 class="widget-title">
                            Categories
                        </h5>
                        <div class="tag-list">
                            @foreach (var category in Model.FeaturedCategories)
                            {


                                <a href="@Url.Action("Index","Shop",new { categoryID=category.Id,sortBy=Model.SortBy})" class="@(Model.CategoryID.HasValue && Model.CategoryID.Value==category.Id?"active" : string.Empty)">@category.Name <span>(@category.Products.Count(x=>x.IsActive))</span></a>


                            }
                        </div>
                    </div>

                    <div class="widget widget-price">
                        <h5 class="widget-title">Filter by price</h5>
                        <div class="price-filter">
                            <div id="slide-range"></div>
                            <p class="amount">
                                Price: <input type="text" id="amount" disabled="">
                            </p>
                        </div>
                    </div><!-- /.widget -->
                    <a href="@Url.Action("Index", "Shop")" class="btn btn-danger">Reset Filters</a>
                </div><!-- /.sidebar -->
                <div class="vl"></div>
            </div><!-- /.col-md-3 -->
            <div class="col-md-9">

                <div id="productsDiv">
                    @{
                        var filterProductsViewModel = new Auction.Web.ViewModels.FilterProductsViewModel();
                        filterProductsViewModel.Products = Model.Products;
                        filterProductsViewModel.Pager = Model.Pager;
                        filterProductsViewModel.CategoryID = Model.CategoryID;
                        filterProductsViewModel.SortBy = Model.SortBy;


                        Html.RenderAction("FilterProduct", filterProductsViewModel);
                    }
                </div>

            </div><!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->

<script>
    var callTimeout;

   $("#amount").val("$" + @Model.MinimumPrice + ".00" + " - " + "$" + @Model.MaximumPrice + ".00");

	var priceSlider = $("#slide-range").slider({
		range: true,
		min: @Model.MinimumPrice,
		max: @Model.MaximumPrice,
		values: [@Model.MinimumPrice, @Model.MaximumPrice],
		slide: function (event, ui) {
			var minPrice = ui.values[0];
			var maxPrice = ui.values[1];

            $("#amount").val("$" + minPrice + ".00" + " - " + "$" + maxPrice + ".00");

            clearTimeout(callTimeout);
			callTimeout = setTimeout(GetData, 500);
		}
    });

    function GetData(minimumPrice, maximumPrice) {
         //console.log("GetData Called");
        $.ajax({

            url: '@Url.Action("FilterProduct", "Shop")',
            data: {
                sortBy:'@Model.SortBy',
                categoryID : '@Model.CategoryID',
                minimumPrice: priceSlider.slider("values", 0),
                maximumPrice: priceSlider.slider("values", 1)
            }
        })
        .done(function(response) {
           $("#productsDiv").html(response);

        })
       .fail(function(XMLHttpRequest, textStatus, errorThrown) {
           swal({
               title: "Warning",
               text: "Please enter all required fields.",
               icon: "warning",
               buttons: true,
               dangerMode: true,
           });
       });
    }
</script>